[submodule "themes/ananke"]
	path = themes/ananke
	url = https://github.com/theNewDynamic/gohugo-theme-ananke.git
[submodule "themes/PaperMod"]
	path = themes/PaperMod
	url = https://github.com/adityatelange/hugo-PaperMod.git
[submodule "themes/clarity"]
	path = themes/clarity
	url = https://github.com/chipzoller/hugo-clarity.git
[submodule "themes/Next"]
	path = themes/Next
	url = https://github.com/hugo-next/hugo-theme-next.git
[submodule "themes/jijian"]
	path = themes/jijian
	url = https://github.com/hcllmsx/hugo-jijian.git
